.app-logo {
    height: 15vmin;
    pointer-events: none;
}

.navbar-logo {
    width: 8vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media (max-width: 640px) {
    .navbar-logo {
        width: 20vmin;
    }
}
